.go-back{
    width: 100%;
    text-align: center;
    line-height: 120px;
    margin-bottom: 25px;
    text-decoration: none!important;
    color: rgb(3,164,156)!important;
}

.go-back::after{
    content: '';
    width: calc(100% + 30px);
    height: 1px;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-top: -61px;
    margin-left: -15px;
}

.house-info{
    padding: 150px 0;
    width: 100%;
    text-align: center;
}

.info-tag{
    letter-spacing: 2px;
    font-size: 40px;
}

.info-tag:first-letter{
    vertical-align: super;
}

.house-location-tag{
    font-size: 45px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.house-location{
    color: #555;
    letter-spacing: 2px;
}

#container-helper{
    width: 100%;
    background: #eee;
}

.house-location-tag{
    width: calc(100% + 30px);
    line-height: 0;
    margin: 40px 0 40px -15px;
}

.carousel-indicators, .carousel-control-next, .carousel-control-prev{
    display: none;
}

.year{
    border-right: 1px solid rgb(3,164,156)
}

.container-share{
    font-size: 22px; width: 50%; margin-left: 25%; text-align: center; padding: 1rem 0
}

.super-container-carousel{
    height: 70vh;
}

@media screen and (max-width: 991px){
    .container-carousel{
        margin-left: 0;
        margin-right: 0;
    }

    .container-carousel-controller *{
        display: none;
    }

    .carousel-indicators, .carousel-control-next, .carousel-control-prev{
        display: flex;
    }

    .control-carousel{
        display: none!important;
    }
}

@media screen and (max-width: 767px){
    .container-house-description, .container-map{
        margin-right: 0;
        margin-left: 0;
    }

    .map iframe{
        width: 100%;
    }

    .super-container-carousel{
        height: 60vh;
    }
}

@media screen and (max-width: 575px) {
    .year{
        border-right: none;
    }

    .container-year-share{
        margin-left: 0;
        margin-right: 0;
    }

    .container-share{
        width: 100%;
        margin-left: 0;
    }

    .share-button{
        width: 33%;
    }

    .container-house-description{
        padding-top: 0!important;
    }

    .container-house-description div:first-child{
        margin-bottom: 20px;
    }

    .house-location-tag{
        font-size: 30px;
    }
}

@media screen and (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px){
    .super-container-carousel{
        height: 40vh;
    }
}