#city_name{
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 60px;
    display: block;
    width: calc(100% - 60px);
    margin-left: 60px;
    text-align: center;
}

.house-name{
    font-size: 50px;
}

.house-explore{
    padding: 20px;
    text-align: center;
    border-radius: 5pc;
    margin: 0;
    box-shadow: 0 0 4px #aaa;
    transition: 200ms;
}

.search-description{
    justify-content: flex-end;
}

.container-search::after{
    content: "";
    width: 30%;
    margin: 40px auto 0 auto;
    height: 1px;
    background: #eee;
}

button{
    background: none;
    border: none;
    font-size: 14px;
    color: #bbb!important;
    cursor: pointer;
    text-align: right;
    width: 100%;
    margin: auto;
    padding: 0 35px;
    border-right: 1px solid #eee;
    line-height: 40px;
}

.change-type{
    font-size: 14px;
    color: #bbb!important;
    cursor: pointer;
    text-decoration: none!important;
    text-align: left;
    width: 100%;
    display: block;
    margin: auto;
    padding: 0 20px;
    line-height: 40px;
}


button:focus{
    border: none;
    outline-color: transparent;
}

.container-button{
    padding-right: 0;
    padding-left: 30px;
}

.container-house-widget{
    padding-top: 100px;
}

.container-search{
    margin-right: 0!important;
    margin-left: 0!important;
}

.house-explore:hover{
    box-shadow: 0 0 6px #bbb;
    transition: 200ms;
    background: rgb(3,164,156);
    color: white
}

.house-image{
    transition: 600ms;
}

.house-image:hover{
    transform: scale(1.2);
    transition: 2s;
}

@media screen and (max-width: 1199px){
    #city_name{
        letter-spacing: 30px;
        /*font-size: 30px;*/
    }
}

@media screen and (max-width: 991px){
    #city_name{
        letter-spacing: 20px;
        font-size: 60px;
    }
}

@media screen and (max-width: 767px) {
    .letter-space-sm1 {
        letter-spacing: normal;
    }

    button {
        /*letter-spacing: ;*/
        font-size: 12px;
        border-right: none;
        border-bottom: 1px solid #eee;
        padding: 0 20px;
        text-align: center;
        margin-bottom: 0;
    }

    .change-type {
        font-size: 12px;
        text-align: center;
        margin-top: 0;
    }

    #city_name{
        font-size: 40px;
    }

    .container-button{
        padding: 0 20%;
    }

    .search-description{
        margin-bottom: 20px;
        justify-content: flex-start;
        text-align: center;
    }
}

@media screen and (max-width: 575px){
    #city_name{
        letter-spacing: 8px;
        font-size: 20px;
    }

    #city_name_container{
        border: 1px solid rgb(3,164,156);
        margin-right: 60px;
    }

    #city_name{
        /*margin-left: 15px!important;*/
    }

    .container-house-widget{
        padding-top: 30px;
    }

    .search-description{
        text-align: center;
    }

}
