body{
    overflow-x: hidden ;
    background-color: #fefefe!important;
    box-sizing: border-box;
}

.text-green{
    color: rgb(3,164,156);
}

.text-gray{
    color: #666;
}

.bg-green{
    background: rgb(3,164,156);
}

.bg-gray{
    background: rgb(170,170,170);
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.bodoni{
    font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
}

.roboto{
    font-family: 'Roboto Slab', serif;
}

.fw-700{
    font-weight: 700;
}

.fw-200{
    font-weight: 200;
}

.fw-300{
    font-weight: 200;
}

.letter-space1{
    letter-spacing: 0.2em;
}

.letter-space2{
    letter-spacing: 0.4em;
}


.city-rows:hover{
    background: #fbfbfb;
    transition: 400ms;
}

.city-rows{
    transition: 400ms;
}

.city-rows:hover{
    text-decoration: none!important;
}

.fadein{
    opacity: 0;
}