<div class="container bg-green" style="padding-bottom: 0; margin-bottom: 0">
    <p class="fadein bodoni text-white p-5 pb-4" style="font-size: 40px">Contactos</p>
    <p class="fadein montserrat pl-5 text-white pb-3">Contacte-nos. Teremos todo o gosto em ajudá-lo.</p>
    <div class="row">
        <div class="fadein col-md-4 col-sm-12 d-flex pb-4">
            <div class="contact-icon pl-5 mr-3 d-flex" style="width: 80px">
                <i class="fas fa-mobile text-white" style="margin:auto; font-size: 30px; vertical-align: middle"></i>
            </div>
            <span class="montserrat text-white letter-space-sm1" style="line-height: 30px">+351 91 515 74 60</span>
        </div>
        <div class="fadein col-md-6 col-sm-12 d-flex pb-4">
            <div class="contact-icon pl-5 mr-3 d-flex" style="width: 80px">
                <i class="fas fa-mail-bulk text-white" style="margin:auto; font-size: 30px; vertical-align: middle"></i>
            </div>
            <span class="montserrat text-white letter-space-sm1" style="line-height: 30px">apoio.cliente@segment-combine.test</span>
        </div>
    </div>
    <div class="">
        <p class="montserrat text-white fw-300" style="text-align: center; margin-top: 100px; font-size: 14px">Website Desenvolvido por</p>
        <p class="montserrat text-white fw-300" style="text-align: center; padding-bottom: 30px; margin-bottom: 0">CSYes &#169; 2019</p>
    </div>
</div>
<style>
    .svg-inline--fa.fa-w-10 {
        width: auto!important;
    }
    .svg-inline--fa.fa-w-18 {
        width: auto!important;
    }
</style>